/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
.navbar{
   background: #ff6f00;
   border: none;
}

.navbar .tops{
   margin-left: 10px;
   margin-top: 15px;
   color: #00bcd4;
   border: none;
   background: white;
}

.header-btn{
   margin-left: 15px;
   color: black;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 2em;
}

.logo{
   width: 120px;
}

.nvbtn{
   margin-left: 10px;
   margin-top: 15px;
   color: #ff6f00;
   background: white;
   font-size: 1.1em;
}

.dropmen li{
   font-family: 'Josefin Sans', sans-serif;
}

.dropmen li:hover{
   background: #80deea;
}

#navtext{
   color: white;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.3em;
   margin-top: 22px;
   margin-right: 10px;
}

.page{
   margin-top: 65px;
}

.splashFooter {
   background-color: black;
   padding: 20px;
   color: white;
   text-align: center;
   font-size: 20px;
}
