// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circle_map{
   height: 550px;
   border-radius: 50%;
}
.search_bar{
   display:block;
   margin-top: -20px;
   height: 60px;
}
.location_list{
   background-color: red;
}
