
// Each Page under the Locations Controller is styled individually as best as possible.
// Each different page will be marked by ".location.<action>"
// The .action corresponds to the controller action that leads to the path
.locations.index{
   // Style code with search bar, radio buttons, and submit
   .search_bar{
      margin-top: 5px;
      padding-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 0px;
      p{
         margin-left: 25px;
         font-size: 1.3em;
         font-family: 'Josefin Sans', sans-serif;
         span{
            margin-top: 5px;
            color: #ff6f00;
            font-size: 1.5em;
         }

         // Class for input fields for visual ease
         .inputting{
            height: 30px;
            border: 2px solid #ff6f00;
            border-radius: 50px;
            background: white;
            color: black;
            padding-top: 10px;
         }
         .search_btn{
            background: #ff6f00;
            border-radius: 10px;
            color: white;
            box-shadow: none;
            border: none;
            padding-top: 5px;
         }
      }
   }

// Modal Styling Code Block
@media (min-width: 992px) {
      #locations-modal {
         width: 800px;
      }
}

.modal{
   font-family: 'Josefin-sans', sans-serif;
   .modal-body{
      .reviewContent{
         .indivrev{
            border-radius: 0;
         }
      }
      .italic {
         font-style: italic;
      }
      .yelpContent {
         margin-bottom: 10px;
      }

      .reviewContent {
         margin-top: 10px;
      }
      .imageGallery{
         .img-rounded{
            margin: 5px;
         }
         .gallery-image {
            height: 200px;
            display: inline-block;
            margin-left: 10px;
            margin-top: 10px;
         }
      }
   }
   #myModalLabel {
      margin-bottom: 5px;
   }

}


   // Styles the map partial, even though the map is no longer circular
   .circle_map{
         height: 550px;
         border-radius: 5%;
         margin-left: 10px;
   }

   // Styles the Grey Panel that contains the list of locations(seeded + user generated)
   .location_panel{
      background: #cfcfcf;
      height: 635px;
      font-family: 'Josefin sans', sans-serif;

      // Individual list items/locations
      li{
         margin-bottom: 5px;
      }
   }


   .locationBox {
      height: 70%;
      /*margin-right: 5%;*/
      padding-left: 0px;
      overflow: auto;
   }

   .gm-style-iw {
      min-width: 100px;
   }

   .iw-title {
      font-family: 'Josefin sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      padding: 10px;
      background-color: #48b5e9;
      color: white;
      margin: 1px;
      border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
   }
   // Styles the star icon for rating display
   .glyphicon-star {
      color: yellow;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: grey;
      margin-left: 8px;
   }
}

// The following pertains to the code and display of the Location Show page
// On this page, users add new reviews
.locations.show{

   // All page content is contained inside the revpage div
   .revpage{
      margin-top: 80px;
      margin-bottom: 40px;
      padding-bottom: 20px;
      .addrevbtn{
         margin-bottom: 20px;
      }

      // This div contains the basic info of the location + metrics
      .info{
         border-radius: 25px;
      }

      // This div will be populated by any reviews attached to the location
      .revs{
         border: 2px solid orange;
         border-radius: 30px;
         .indrev{
            margin-bottom: 10px;
         }
         .backbtn{
            margin-bottom: 20px;
         }
      }

      // This div is populated by any images uploaded to the location through reviews
      .pics{

      }
   }
}

.locations.new{
   font-family: 'Josefin-sans', sans-serif;
   .newLocation{
      margin-top: 150px;
   }
}

@media (min-width: 992px) {
   .inline-p {
      display: inline-block;
   }
}

