// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

}

.login_form {
  margin-top: 10%;
}

.phoneImg {
  background-image: url('phones.png');
}

.orangetxt {
  color: #FF8000;
}

.orange {
  background-color: #FF8000;
  color: white;
}

.form-wrapper input[type="submit"] {
  background-color: #FF8000;
}

.fbBox {
  text-align: center;
}


// Commenting out the code below due to merge conflict. If it's needed please just uncomment it!
// .box{
//    font-family: 'Josefin Sans', sans-serif;
//    font-size: 1.3em;
//    .input{
//       height: 30px;
//       border: 2px solid #ff6f00;
//       border-radius: 50px;
//       background: white;
//       color: black;
//       padding-top: 10px;
//    }
// }