// Place all the styles related to the users controller here.
// Each page is denoted by '.user.action'
// The action corresponds to the controller action leading to the view

.users.new{
   font-family: 'Josefin sans', sans-serif;
   // Contains the content in the splash/sign up page
   .row{
      background: url('Trippypic4.jpg')no-repeat center center fixed;
      background-size: cover;
      font-family: 'Josefin sans', sans-serif;
      color: white;
      padding: 25px;
      // The actual form div in the page
      .logform{
         color: #ff6f00;
         background: rgba(255,255,255,0.3);
         }
   }



}

// Styles the image of the phones on the splash page to be responsive
@media(max-width: 768px){
   .phoneimage{
      width: 100%;
   }
}

// Profile Page Code Block
.users.show{
   font-family: 'Josefin sans', sans-serif;

   // This biopanel contains all the user attributes and button
   .biopanel{
      background: green;
      height: 635px;
      display: fixed;
      color: black;

      // div contained profile picture
      .pimage{
         height: 200px;

         // Profile picture itself
         .proimage{
            height: 100%;
            border-radius: 30px;
         }
      }
      // Edit Profile button
      .editor{
         color:white;
      }
   }
}
