// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users.new{
   .row{
      background: url('Trippypic4.jpg')no-repeat center center fixed;
      background-size: cover;
      font-family: 'Josefin sans', sans-serif;
      color: white;
      padding: 15px;
      .logform{
         color: #ff6f00;
         background: rgba(255,255,255,0.3);
         }
   }

}

.users.show{
   font-family: 'Josefin sans', sans-serif;
   .pimage{
      height: 200px;
      .proimage{
         height: 100%;
         border-radius: 30px;
      }
   }

   .editor{
      color:white;
   }
   .bio{
      color: black;
   }
}
