<!DOCTYPE html>
<html>
<head>
  <title>Trippy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

   <nav class="navbar navbar-default col-md-12">
      <div class="container-fluid">
         <button type="button" class="header-btn btn btn-default navbar-btn navbar-right">Sign in</button>
         <button type="button" class="btn btn-default navbar-btn navbar-right">Log In</button>
      </div>
   </nav>

<%= yield %>

</body>
</html>
